.container {
    text-align: center;
    font-family: 'Arial, sans-serif';
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.heading {
    color: #4CAF50;
    font-size: 2rem !important;
    margin-left: 33px !important;
    
  }
  .message{
    color: #555;
    font-size: 1.2rem
  }
  .list{
   
    padding: 0;
    font-size: rem;
    margin: 20px 0
  }
  .link{
    color: #007bff;
    text-decoration: none
  }
  .footer{
    margin-top: 30px;
    color: #777,
  }
  .btn{
    border-radius: 10px !important;
    padding: 20px !important;
    width: 160px;
    background-color: black !important;
    color:white !important;
}