::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: violet;
  border-radius: 5px;
}
.parentText{
  position:absolute;
  color:white;
  font-weight:600
}

.flex-container{
  display: flex ;
  flex-direction: column !important;
  justify-content: center;
  align-items: center
}
.error{
  
  position:relative;
  right:13px
}
.submitbutton{
  padding: 20px !important;
  background-color: black !important;
  color: white !important;
  border-radius: 10px !important;
  margin: 20px 0px 20px 0px !important
}
.checkbox{
  display: flex;
  flex-Direction: row !important;
  align-items: center;
  gap: 10px
}

.signinBtn{
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 5px 0px 20px 0px !important
}

.active{
  text-decoration: none;
  margin-left: 10px;
  color: blue-violet;
}
.link{
  text-decoration: none;
  margin-left: 10px;
  color: black;
}